.header{
    border-bottom: 0.5px solid black;
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: white;
}
.body{
    background-image: url('1.jpg');
    background-size: cover;
}
.about,.post,.footer{
    background-color: white;
}
.about{
    text-align: center;
}
.about img{
    height: 350px;
}
.d13{
    text-align: left;
    font-size: 14px;
    margin: 15px;
    width: 100%;
}
.d13 pre{
   white-space: pre-wrap;
}
.d14 h2{
    text-align: left;
}
.d14{
    text-align: left;
    margin: 15px;
    margin-left: 40%;
}
.post iframe{
    width: 70%;
    margin-left: 15%;
}
.post h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}
.gocw:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.d13 button{
    text-decoration: none;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 15px;
    font-size: 28px;
    margin-left: 40%;
}
.d13 button:hover{
    background-color: rgb(58, 204, 197);
    color: white;
    cursor: pointer;
}
.main img{
    width: 50%;
}

@media screen {
    .d14{
        margin-left: 30%;
    }
}