body{
    font-family: 'KaiTi';
    border: 1px solid black;
    background-image: url(背景.png);
}
a{
    text-decoration: none;
    color: rgb(188, 223, 118);
}
a:hover{
    text-decoration: underline;
    color: rgb(77, 136, 187);
}
.d{
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    background-color: white;
}
.head{
    text-align: center;
}
.footer{
    text-align: center;
}
.button{
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 50px 350px 50px 350px;
    width: auto;
    font-size: 50px;
    background-color: white;
}